page-study-topic {
    @media only screen and (min-width: 1024px) {
        .btnTopic{
            width: 60% !important;
        } 
    }
    @media only screen and (min-width: 765px) {
        .btnTopic{
            width: 60% !important;
        } 
    }
    button{
        text-transform: none !important;
    }
    .bg {
        background: linear-gradient(to bottom, #48508E 0%, #CE5959 100%)
    }
    .bg-w {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
    }
    .btnTopic{
        width: 100%;
    }
    .text-nav{
        font-weight: normal;
        color: rgb(0, 0, 0);
        margin-top: 1.3rem;
    }
    .col-topic{
        text-align:center;
    }
    center {
        text-align: center;
        align-items: center;
    }
}
