page-intro {
    .p{
        margin: 0%;
    }
    ion-spinner * {
        width: 25px;
        height: 25px;
        stroke: #444;
        fill: #222;
      }
    .loading {
        height: 100%;
        margin-top:auto;
        margin-bottom: auto; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
